.BoxJoiners {
    border-radius: 2px;
    background: #fff;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.11);
    height: 296px;
    margin: 0px;
    max-width: 450px;
    overflow: auto;
}

.attendees {
    color: #323c46;
    font-size: 22px;
    margin: 0px;
    margin-top: 32px;
    margin-left: 32px;
}

.allJoiners {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 22px 31px 22px 31px;
}

.joinerBox {
    display: flex;
    margin: 0px;
    border-radius: 100px;
    background: #d9dce1;
    padding: 5px;
    align-items: center;
    height: 34px;
}

.joiner {
    color: #949EA8;
    font-size: 13px;
}

.YouBox {
    border-radius: 100px;
    border: 1px solid #d9dce1;
    display: flex;
    margin: 0px;
    padding: 5px;
    align-items: center;
    height: 34px;
}

.You {
    color: #949EA8;
    font-size: 13px;
}
