.lower {
    display: flex;
    margin: 0px 0px 32px;
    align-items: center;
    justify-content: space-between;
    padding-right: 5px;
    order: 4;
}

.capacity {
    color: #949ea8;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin-left: 5px;
}

.PesronCapacity {
    display: flex;
    align-items: center;
}
