.statusJ {
    background-color: #22d486;
    width: 100px;
    height: 32px;
    border: none;
    border-radius: 4px;
    color: #ffffff;

    font-size: 14px;
    display: inline-block;
    cursor: pointer;
    letter-spacing: 1px;
}

.statusJ:hover {
    background-color: rgba(32, 189, 120, 1);
}

.statsuL {
    background-color: #ff4081;
    width: 100px;
    height: 32px;
    border: none;
    border-radius: 4px;
    color: #ffffff;

    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
}
.statsuL:hover {
    background-color: rgba(231, 51, 112, 1);
}

.statusE {
    background: #d9dce1;
    width: 100px;
    height: 32px;
    border: none;
    border-radius: 4px;
    color: #a9aeb4;

    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
}

.statusE:hover {
    background-color: rgba(196, 201, 209, 1);
    color: rgba(169, 174, 180, 1);
}

.filledBtn {
    background: #d9dce1;
    width: 100px;
    height: 32px;
    border: none;
    border-radius: 4px;
    color: #a9aeb4;

    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
}
