.middlePart {
  display: flex;
  flex-direction: column;
  align-self: center;

  padding: 20px;
  flex: 1;
  margin: 100px 0px 0px 120px;
}

.allBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.idecko {
  color: #a9aeb4;
  font-family: "Hind";
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.box {
  display: grid;
  padding-left: 32px;
  padding-right: 35px;
  background: #ffffff;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.108696);
  border-radius: 2px;
  height: 296px;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 2fr 1.5fr;
  width: 795px;
  
}
