.allBoxs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
  flex: 1;
  gap: 1rem;
}

/*media*/
@media (max-width: 500px) {
  .allBoxs {
    grid-template-columns: repeat(auto-fill, minmax(304px, 1fr));
  }
}
