.description {
    font-family: "Hind";
    font-style: normal;
    font-size: 16px;
    color: #949ea8;
    margin: 32px 0px 0px;
    padding-right: 130px;
  }

  @media (max-width: 500px) {
    .description {
      padding-right: 65px;
    }
  
  }
  