.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 39px;
  padding: 0 29px; 
}

.logo {
  display: inline;
  text-decoration: none;
  font-weight: bold;
  margin-left: 59px;
  color: #323c46;
}

.Icon {
  height: 40px;
  width: 40px;
  background-color: #d9dce1;
  align-items: center;
  border: none;
  border-radius: 50%;
  color: #949ea8;
  cursor: pointer;
  font-family: "Hind";
}
.client {
  font-family: "Hind";
  text-decoration: none;
  color: #949ea8;
  margin-left: 8px;
}
.user {
  display: flex;
  align-items: center; 
  margin-right: 20px; 
}

.scroll {
  margin-left: 8px;
  cursor: pointer;
  display: flex; 
  align-items: center; 
}
@media (max-width: 500px) {
  .client {
    display: none;
  }

  .scroll {
    margin-left: 5px; 
  }

  .navbar{
    padding: 0px;
  }

  .logo{
    margin-left: 24px;
  }
}
