.capacity {
    color: #949ea8;
    font-family: 'Hind';
    font-style: normal;
    font-size: 14px;
    order: 5;
    text-align: center;
}
.boxbtn {
    padding-right: 16px;
    margin-left: 15px;
    margin-bottom: 10px;
    order: 6;
}

@media (max-width: 1280px) {
    .capacity {
        grid-area: capacity;
        margin-top: 1px;
        text-align: left;
    }
    .boxbtn {
        grid-area: sidebar;
        display: flex;
        justify-content: flex-end;
    }
    .capacity {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (max-width: 420px) {
    .boxbtn {
        margin: 0px;
        padding: 0px;
        padding-left: 8px;
    }
}
