.title {
    font-style: normal;
    font-size: 22px;
    color: #323c46;
    margin: 10px 0px 0px;
}

.title2 {
    font-style: normal;
    font-size: 18px;
    color: #323c46;
    padding-left: 32px;
    order: 1;
}

@media (max-width: 1280px) {
    .title2 {
        grid-area: header;
        padding-left: 0px;
    }
}
